
html {
  background-color: #F8F8F8;
}

h2 {
  margin-bottom 20px !important
}

h3 {
  margin-bottom 25px !important
}

.custom-block.tip {
  padding: 15px
}

.wrapper {
  border: 1px solid #eaeefb;
  border-radius: 4px;
  padding 20px;
  margin: 20px 0;
}
